<h2 class="head-line title_h2 text-center admin_product_index"><b>メニュー</b></h2>

<div class="row">
  <div class="col-8 text-center mx-auto p-5">
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>メニューID</th>
          <th>メニュー名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      
      <tbody>
				<% @items.each do |item| %>
  				<tr>
            <td class="auto">
              <%= item.id %>
            </td>
            <td class="auto">
              <%= link_to admin_item_path(item), class: "btn-link" do %>
                <%= item.name %>
              <% end %>
            </td>
            <td class="auto">
              <!--delimited数値を3桁区切りにする-->
              ¥<%= item.price.to_s(:delimited) %>
            </td>
            <td class="auto">
              <%= item.genre.name %>
            </td>
            <td class="auto">
              <% if item.is_active == true %>
      					<p>販売中</p>
      				<% elsif item.is_active == false %>
      					<p>販売停止中</p>
      				<% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= link_to new_admin_item_path, class: "btn btn-info pull-right new_product float-right p-3 m-4" do %>
      メニューの新規登録 <i class="fas fa-plus"></i>
    <% end %>
    
     <%= paginate @items %>
  </div>
</div>