<div class="containar">
  <div class="row justify-content-center">
    <div class="col-lg-9 mt-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="h4 mt-3">管理者ログイン</div><br>

      <table class="table table-borderless">
        <tr>
          <td style="width: 20%" ><%= f.label "メールアドレス" %></td>
          <td style="width: 30%"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary"  %>
      </div>
      <%= render "admin/shared/links" %>
    <% end %>
    </div>
  </div>
</div>
