<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="row my-4">
        <div class="col-6">
          <h3 class="p-3">予約注文履歴一覧</h3>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>予約注文日時</th>
              <th>購入者</th>
              <th>購入個数</th>
              <th>受取り日</th>
              <th>受取り時間</th>
            </tr>
          </thead>
          <tbody>
          	<% @pre_orders.each do |pre_order| %>
            	<tr class= "auto">
                <td>
                  <%= link_to admin_pre_order_path(pre_order.id) do %>
                  <%= pre_order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  <% end %>
                </td>
                <td><%= pre_order.customer.last_name %><%= pre_order.customer.first_name %></td>
                <td><%= pre_order.pre_order_details.sum(:quantity) %></td>
                <td><%= pre_order.receiving_date.strftime('%m月%d日') %></td>
                <td><%= pre_order.receiving_time.strftime("%H時%M分") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @pre_orders %>
      </div>
    </div>
  </div>
</div>