<div class="container my-5 px-5 px-sm-0">
  <div class="row">
     <p>ショッピングカート</p> > <p>予約注文情報入力</p> > <span class="text-info">予約注文情報確認</span> > <p>ご注文完了</p>
    <div class="col-sm-12">
      <div class="px-5 py-4">
        <h4>予約注文情報確認</h4>
      </div>
      <table class="table table-bordered ">
        <thead>
          <tr class="table-active">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
          <!-- 会員に確認してもらうための表示 -->
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td class="text-left">
              <%= image_tag cart_item.item.get_image(40,50) %>
              <%= cart_item.item.name %>
            </td>
            <td class="text-right">
              <%= cart_item.item.with_tax_price %> 円
            </td>
            <td class="text-right">
              <%= cart_item.quantity %> 個
            </td>
            <td class="text-right">
              <%= cart_item.subtotal.to_s(:delimited) %> 円
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered">
        <tr>
          <th class="table-secondary">請求金額</th>
          <td class="text-right"><%= @total_payment.to_s(:delimited) %> 円</td>
        </tr>
      </table>
    </div>
    <div class="col-md-12">
      <div class="mb-4">
        <h6 class="font-weight-bold">受取り日</h6>
        <%= @receiving_date %>
      </div>
      <div class="mb-4">
        <h6 class="font-weight-bold">受取り時間</h6>
          <%= @pre_order.receiving_time.strftime("%H時%M分") %>
      </div>
      <div class="mb-4">
        <h6 class="font-weight-bold">ご要望</h6>
          <%= @pre_order.demand %>
      </div>
    
    <div class ="col-xs-12 text-right">
      <%= form_with model: @pre_order_new, url: pre_orders_path, method: :post do |f| %>
        <%= f.hidden_field :receiving_date, value: @receiving_date %>
        <%= f.hidden_field :receiving_time, value: @pre_order.receiving_time %>
        <%= f.hidden_field :demand, value: @pre_order.demand %>
        <%= f.hidden_field :total_payment, value: @total_payment %>
        <p>※キャンセルにつきましては、お電話にてご相談ください。</p>
        <%= f.submit "注文を確定する", class: "btn btn-info rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>