<div class="container px-5 px-sm-0">
  <div calss="row">
    <div class="col-xs-12">
      <h5 class="alert alert-secondary text-center">予約注文履歴一覧</h5>
        <% if @pre_orders.present? %>
        
          <table class="table table-hover table-bordered">
            <thead>
              <tr class="info">
                <th>予約注文日</th>
                <th>予約注文メニュー</th>
                <th>受取り日</th>
                <th>受取り時間</th>
                <th>支払金額</th>
                <th>予約注文詳細</th>
              </tr>
            </thead>
            <tbody>
              <% @pre_orders.each do |pre_order| %>
                <tr>
                  <td>
                    <%= pre_order.created_at.strftime('%Y年%m月%d日') %>
                  </td>
                  <td>
                    <% pre_order.pre_order_details.each do |pre_order_detail| %>
                      <%= pre_order_detail.item.name %>
                    <% end %>
                  </td>
                  <td class="auto">
                    <%= pre_order.receiving_date.strftime('%m月%d日') %><br>
                  </td>
                  <td class="auto">
                    <%= pre_order.receiving_time.strftime("%H時%M分") %><br>
                  </td>
                  <td class="auto">
                    <%= pre_order.total_payment.to_s(:delimited) %>円
                  </td>
           	      <td class="auto">
           	        <%= link_to "表示する",pre_order_path(pre_order), class: "btn btn-info rounded-pill" %>
           	        <!--もし受取り日が当日、過去の日付けだった場合、キャンセルボタンを表示させない-->
           	        <% if pre_order.receiving_date > Date.current %>
           	          <%= link_to 'キャンセル', pre_order_path(pre_order), method: :delete, class: "btn btn-danger rounded-pill", "data-confirm" => "本当にキャンセルしますか？" %>
           	        <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        <% else %>
          <p>予約注文履歴がありません。</p>
        <% end %>
        <%= paginate @pre_orders %>
    </div>
  </div>
</div>