<header class="shadow sticky-top bg-light">
  <nav class="navbar navbar-expand-lg" style="background-color:#FFF">
    <div class="container">
      <a class="navbar-brand font-weight-normal" href="/"><%= image_tag 'logo.jpg', size: "100x100"%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background-color:#deb887;">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <h6>※架空のお弁当屋さん「Mogu」の予約注文サイト</h6>
      
      <div class="navbar">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li><%= link_to customer_path,class: 'btn btn-warning rounded-pill' do %> マイページ <% end %></li>
              <li><%= link_to items_path,class: 'btn btn-warning rounded-pill' do %> メニュー <% end %></li>
              <li><%= link_to cart_items_path ,class: 'btn btn-warning rounded-pill' do %></i> カート <% end %></li>
              <li><%= link_to destroy_customer_session_path, method: :delete,class: 'btn btn-warning rounded-pill' do %> ログアウト <% end %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to admin_items_path,class: 'btn btn-warning rounded-pill' do %> メニュー <% end %></li>
              <li><%= link_to admin_customers_path,class: 'btn btn-warning rounded-pill' do %> 会員一覧 <% end %></li>
              <li><%= link_to admin_orders_path,class: 'btn btn-warning rounded-pill' do %> 予約注文履歴一覧 <% end %></li>
              <li><%= link_to admin_genres_path,class: 'btn btn-warning rounded-pill' do %> ジャンル <% end %></li>
              <li><%= link_to destroy_admin_session_path, method: :delete,class: 'btn btn-warning rounded-pill' do %> ログアウト <% end %></li>
            <% else %>
              
              <li><%= link_to items_path,class: 'btn btn-warning rounded-pill' do %> メニュー <% end %></li>
              <li><%= link_to new_customer_registration_path,class: 'btn btn-warning rounded-pill' do %> 新規登録 <% end %></li>
              <li><%= link_to new_customer_session_path ,class: 'btn btn-warning rounded-pill' do %> ログイン <% end %></li>
              
            <% end %>
            </ul>
          </div>
          <div class="container-fluid">
            <a class="navbar-brand"></a>
          </div>
      </div>
    </div>
  </nav>
</header>