<header class="shadow sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFF">
    <div class="container">
      <a class="navbar-brand font-weight-normal" href="/"><%= image_tag 'logo.jpg', size: "100x100"%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="text-left">
        <p>※架空のお弁当屋さん「Mogu」の<br>予約注文サイト</p>
        <div class="text-info">
        <% if customer_signed_in? %>
          <h5>ようこそ、<%= current_customer.first_name %>さん！</h5>
        <% end %>
        </div>
      </div>

      <div class="navbar">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!--ゲストログインかどうかの確認-->
            <% if customer_signed_in? && current_customer.email == 'guest@example.com' %>
              <li>
                <%= link_to about_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-apple-alt"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to items_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-book-open"></i> メニュー
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
            <!--会員ログイン-->
            <% elsif customer_signed_in? && customer_signed_in? && current_customer.email == 'guest@example.com'%>
              <li>
                <%= link_to my_page_customers_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-user"></i> マイページ
                <% end %>
              </li>
              <li>
                <%= link_to pre_orders_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-star"></i> 予約注文履歴一覧
                <% end %>
              </li>
              <li>
                <%= link_to items_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-book-open"></i> メニュー
                <% end %>
              </li>
              <li>
                <%= link_to cart_items_path ,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-shopping-cart"></i>カート
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
            <!--管理者ログイン-->
            <% elsif admin_signed_in? %>
              <li><%= link_to admin_items_path,class: 'btn btn-dark rounded-pill' do %> メニュー <% end %></li>
              <li><%= link_to admin_customers_path,class: 'btn btn-dark rounded-pill' do %> 会員一覧 <% end %></li>
              <li><%= link_to admin_pre_orders_path,class: 'btn btn-dark rounded-pill' do %> 予約注文履歴一覧 <% end %> </li>
              <li><%= link_to admin_genres_path,class: 'btn btn-dark rounded-pill' do %> ジャンル  <% end %></li>
              <li><%= link_to destroy_admin_session_path, method: :delete,class: 'btn btn-dark rounded-pill' do %> ログアウト <% end %></li>
            <% else %>
              <li>
                <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-dark rounded-pill sign_in", method: :post %>
              </li>
              <li>
                <%= link_to about_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-apple-alt"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to items_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-book-open"></i> メニュー
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_registration_path,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-user-plus"></i> 新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path ,class: 'btn btn-dark rounded-pill' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>

            <% end %>
          </ul>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand"></a>
        </div>
      </div>

    </div>
  </nav>
</header>